doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    title NeoPixel Clock
    link(href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500', rel='stylesheet')
    link(rel='stylesheet', href='/css/main.css')
  body
    #main
    script(src='/js/vue.js', defer='')
    script(src='/js/socket.io.js', defer='')
    script(src='/js/index.js', defer='')
