@charset "UTF-8";
.hide {
  display: none;
}

body {
  font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #aaa;
  background-color: #272b30;
  font-size: 2em;
  height: 100%;
	padding: 0;
  margin: 1rem;
}

hr {
  margin: 2rem;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.controls .control{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.control label {
  font-weight: 100;
  user-select: none;
  margin-bottom: 1rem;
}

.control input:hover {
  cursor: pointer;
}

h2 {
  font-family: 'Raleway Dots', cursive;
  text-align: center;
  color: #7a8288;
  font-weight: 400;
  font-size: 3em;
  line-height: 1.25;
  margin: 1rem 0;
}

.themes {
  display: flex;
  align-items: center;
}

.themes div {
  flex: 1 1 auto;
}

.themes div img{
  display: block;
  max-width: 100px;
  margin: 0 auto;
}

.themes div img:hover{
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .control label {
    font-size:0.8em;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 2.4em;
  }
  .controls {
    flex-direction: column;
  }
  .controls .control {
    flex-direction: row;
    align-items: center;
    margin: 0 1rem 0.5rem 1rem;
  }

  .control label {
    flex: 1;
  }

  .controls input {
    flex: 1;
    margin-bottom: 1rem;
    height: 2rem;
    width: 100%;
  }
}
