@charset "UTF-8";
.hide {
  display: none;
}

body {
  font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #aaa;
  background-color: #272b30;
  font-size: 2em;
  height: 100%;
	padding: 0;
  margin: 0;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.controls .control{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.control label {
  font-weight: 100;
  user-select: none;
  margin-bottom: 1rem;
}

.control input:hover {
  cursor: pointer;
}

h2 {
  font-family: 'Raleway Dots', cursive;
  text-align: center;
  color: #7a8288;
  font-weight: 400;
  font-size: 3em;
  line-height: 1.25;
  margin: 1rem 0;
}
